* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: monospace;

  --ratio: 1.6;

  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
}

h1 {
  color: green;
}
h2 {
  margin-top: var(--s0);
}
a, a:visited {
  color: white;
}

ul > li {
  margin-left: var(--s1);
  list-style: none;
}

ul > li:before {
  content: "-";
  margin-left: -1rem;
}

html, #__next, body {
  width: 100%; height: 100%;
}

footer {
  background: black;
  color: white;
}

.full-bleed {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.padded {
  padding: var(--s0);
}

.blue, .blue a, .blue a:visited {
  color: yellow;
}
td {
  border-bottom: 1px solid black;
  
}
.stack {
  display: flex;
  flex-direction: column;
  gap: var(--s0);
}
.stack\:horizontal {
  display: flex;
  flex-direction: row;
  gap: var(--s0);
  justify-content: space-between;
}
.align-end {

  justify-self: flex-end;
}
.stack\:large {
  display: flex;
  flex-direction: column;
  gap: var(--s1);
}
.stack\:smaller {
  display: flex;
  flex-direction: column;
  gap: var(--s-1);
}

.flex-1 {
  flex: 1;
}

.button {
  border: 1px solid black;
  display: inline-block;
  padding: var(--s0);
  cursor: pointer;
}

.cursor-passthrough {
  pointer-events: none;
}

.square {
  min-width: 24px;
  min-height: 24px;
  background: pink;
}

.circle {
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  background: yellow;
}

.placeholder {
  min-width: 24px;
  min-height: 24px;
  background: #eee;
}
.placeholder > img, .circle > img , .square > img {
  margin: var(--s-1);
}
.narrow {
  width: 45ch;
}
.draggable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  border: 1px dotted gray;
  pointer-events: all;
}
.clickable {
  cursor: pointer;
  pointer-events: all;
}
.clickable:hover {
  background: green;
}
.clickable.clicked {
  border: 1px solid green;
}
.draggable * {
  cursor: inherit;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.draggable.active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.marquee {
  position: relative;
  left: 0%;
  animation: loop-marque 20s linear infinite;
}

@keyframes loop-marque {
  0% { left: 0%; }
  100% { left: 100%; }
}
